
#btn {
    margin-left: 25px;
    margin-bottom: 25px;
}
.app-header{
    text-align: center;
    color: black;
    background-color: white;
    border: none;
    font-weight: normal;
}
#card-contents {
    text-align: center;
    font-size: 28px;
    
}